/* Hello */
@import url('https://fonts.googleapis.com/css?family=Karla');

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Karla, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #fff;
  line-height: 1.1;
}

h1 {
  margin: 0;
  font-size: 2rem;
  line-height: .9;
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

body,
a {
  color: #000;
}

a:hover {
  color: #fff;
}

.font-style-italic {
  font-style: italic;
}

.container {
  padding: 1rem 1rem 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.primary-content {
  margin-bottom: 3rem;  
}

@media screen and (min-width: 600px) {
  .container {
    padding: 20vh 2rem 2rem;
    max-width: 600px;
  }
}

.link-list {
  padding-left: 0;
  list-style: none;
}

.link-list li {
  text-transform: uppercase;
  margin-right: 1rem;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

@media screen and (min-width: 600px) {
  .link-list li {
    display: inline-block;
  }
}