/* Hello */
html {
  font-size: 16px;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #d4e8e1;
  line-height: 1.1;
}

h1 {
  margin: 0;
  font-size: 2rem;
  line-height: .9;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 5rem;
  }
}

body,
a {
  color: #e24e66;
}

a:hover {
  color: #fff;
}

.font-style-italic {
  font-style: italic;
}

.container {
  padding: 1rem;
    max-width: 350px;
}

.primary-content {
  margin-bottom: 3rem;  
}

@media screen and (min-width: 700px) {
  .container {
    padding: 2rem;
    max-width: 850px;
  }
}

.link-list {
  padding-left: 0;
  list-style: none;
}

.link-list li {
  text-transform: uppercase;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

@media screen and (min-width: 700px) {
  .link-list li {
    display: inline-block;
  }
}