/* Hello */
html {
  font-size: 16px;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #d4e8e1;
}

h1 {
  margin: 0;
  font-size: 5rem;
}

body,
a {
  color: #e24e66;
}

.font-style-italic {
  font-style: italic;
}

.container {
  padding: 1rem;
}

.primary-content {
  margin-bottom: 3rem;  
}

@media screen and (min-width: 700px) {
  .container {
    padding: 2rem;
    max-width: 66%;
  }
}

.link-list {
  padding-left: 0;
  list-style: none;
}

.link-list li {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}