---
---

/* Hello */

// Variables
$screen-xs-end:       599px;
$screen-sm-start:     600px;

// Elements

html {
  font-size: 16px;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #ececec;
  line-height: 1.1;
  margin: 0;
  height: 100%;
}

h1 {
  margin: 0;
  line-height: .9;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: .9;
  font-size: 1.5rem;
  font-weight: bold;
}

body,
a {
  color: #000;
}

a:hover {
  color: #fff;
}

p {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1rem;
}

.font-style-italic {
  font-style: italic;
}


// Grid


.container {
  padding: 1rem 1rem 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-sm-start) {
    padding: 2rem 2rem 2rem;
    align-items: center;
  }
}

.col-sm {
  width: 100%;
  @media screen and (min-width: $screen-sm-start){
    flex: 1;
  }
}

.col-sm-6 {
  width: 100%;
  @media screen and (min-width: $screen-sm-start){
    width: 50%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row--reverse {
  flex-direction: row-reverse;
}

.column,
.column-1,
.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #000;
  background: #fff;
}

.column-2 {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $screen-xs-end) {
  .column-1,
  .column-2  {
    flex-basis: 100%;
  }

  .column-2 {
    border-top: 0;
  }
}

@media screen and (min-width: $screen-sm-start) {
  .column-2 {
    border-right: 0;
  }
}

.content-row {
  background: #fff;
  border: 2px solid #000;
  border-top: 0;
  position: relative;
  padding: 1rem;

  & h2 {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
  }

  & > div {
    width: 100%;
  }
}

.video-wrapper {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}

.video-wrapper iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* The animation code */
@keyframes placeholder {
  0%   {background-color: #d9d9d9;}
  50%  {background-color: #e9e9e9;}
  100% {background-color: #d9d9d9;}
}

.iframe-wrapper {
  text-align: center;
  position: relative;
  z-index: 2;
}

.iframe-placeholder {
  content: "";
  display: block;
  width: 236px;
  height: 236px;
  background: #ececec;
  position: absolute;
  z-index: 1;
  animation-name: placeholder;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  left: 50%;
  transform: translateX(-50%);
}

.link-list {
  padding-left: 1rem;
  list-style: circle;
  margin-left: 5rem;
}

.link-list li {
  margin-right: 1rem;
  font-weight: normal;
  margin-bottom: .5rem;
  font-style: italic;
  letter-spacing: 2px;
}

.content-table {

  &__cell {
    padding: 1rem;
    position: relative;
    border-bottom: 2px solid #000;
  }

  &__cell-label {
    transform: rotate(90deg);
    transform-origin: top left;
    text-transform: uppercase;
    position: absolute;
    left: 2rem;
  
    & > h2 {
      margin: 0;
      font-size: 1rem;
    }
  }
}

.white-bordered-box {
  background: #fff;
  border: 2px solid #000;
  position: relative;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;

  & > div {
    flex: 1;
  }
}

// UTILITIES

.border {
  &-left {
    border-left: 2px solid #000;
  }
  &-bottom {
    border-bottom: 2px solid #000;
  }
  &--none {
    border: 0;
  }
  &-bottom--none {
    border-bottom: 0;
  }
}

.tag-new {
  font-size: .75rem;
  display: inline-block;
  background: #00FF00;
  text-transform: uppercase;
  padding: 8px 4px;
}
