<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo title=false %}
  <title>{{ site.title }} | 404</title>
<link rel="stylesheet" href="/assets/main.css"><link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="No Frills – a toronto band that makes: music" /></head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="container">
    <div class="content">
      <div class="page-margin">
        <h1>This page does not exist. You have made a grave error. Or I have made a grave error. Maybe just <a href="https://nofrills.life/">go home.</a></h1>
      </div>
    </div>
    
    
  </div>

  
</body>

</html>
