<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo title=false %}
  <title>{{ site.title }} | Biography</title>
  <link rel="stylesheet" href="/assets/main.css">
  <link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml"
    title="No Frills – a toronto band that makes: music" />
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="container">
    <div class="page-margin">
      <div class="white-bordered-box">
        <div class="content-table__cell">
          <h1>No Frills is a band from toronto.</h1>
        </div>
        <div class="content-table__cell">
          <p><strong>Genre:</strong> Bummer pop, lo-fi, indie rock</p>
          <p><strong>Members:</strong> Daniel Busheikin, Maddy Wilde, Jon Pappo, Matt Buckberrough, Mike Searle</p>
          <p><strong>RIYL:</strong> Yo La Tengo, Rocketship, Alex G, R Stevie Moore, Pavement, Magnetic Fields, The
            Bats, Sparklehorse</p>
          <p><strong>Full bio:</strong> <a
              href="https://docs.google.com/document/d/1slIVj-W_thBShHRHSfq8xxR-H69Xr1dBhhFoq4hoIxs/edit?usp=sharing"
              target="_blank">Click here</a></a></p>
        </div>
        <div class="flex-row">
          <div class="content-table__cell">
            <div class="iframe-placeholder"></div>
            <div class="iframe-wrapper">
              <iframe style="border: 0; width: 240px; height: 240px;"
                src="https://bandcamp.com/EmbeddedPlayer/album=1548178667/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/"
                seamless><a href="https://nofrillsmusic.bandcamp.com/track/ice-cream-cone">Ice Cream Cone by No
                  Frills</a></iframe>
            </div>
          </div>
          <div class="content-table__cell">
            No Frills released an EP called <em>Nice to Meet You</em> in 2018
          </div>
        </div>
        <div class="flex-row">
          <div class="content-table__cell">
            <div class="video-wrapper">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/6cSRiDVHZwc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="content-table__cell">
            No Frills released "Ice Cream Cone," the first single from their forthcoming LP, in Feb 2021.
          </div>
        </div>
        <div class="flex-row">
          <div class="content-table__cell">
            <div class="content-table__cell-label">
              <h2>Say Hello</h2>
            </div>
            <ul class="link-list">
              <li><a href="https://www.instagram.com/nofrillsmusic/" target="_blank">Instagram</a></li>
              <li><a href="https://www.facebook.com/nofrillstheband/" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/nofrillsband" target="_blank">Twitter</a></li>
              <li><a href="mailto:nofrillstoronto@gmail.com" target="_blank">Email</a></li>
            </ul>
          </div>
          <div class="content-table__cell border-left">
            <div class="content-table__cell-label">
              <h2>Listen</h2>
            </div>
            <ul class="link-list">
              <li><a href="https://nofrillsmusic.bandcamp.com/" target="_blank">Bandcamp</a></li>
              <li><a href="https://open.spotify.com/artist/0HMaxwjEtWlFz9g5gtNL4S?si=UrKO_fXMQTChS_8vBWDAPg"
                  target="_blank">Spotify</a></li>
              <li><a
                  href="https://geo.itunes.apple.com/ca/album/nice-to-meet-you-ep/1454015359?uo=4&app=music&ls=1&at=1000lHKX"
                  target="_blank">Apple Music</a></li>
              <li><a href="https://www.youtube.com/watch?v=W-z-Mq37g4Y&list=PLAVfiM5_UucS34qexOyzYLhgFWtVb1-wN"
                  target="_blank">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>