<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo title=false %}
  <title>{{ site.title }}</title>
<link rel="stylesheet" href="/assets/main.css"><link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="No Frills – a toronto band that makes: music" /></head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="container">
    <div class="content">
      <div class="primary-content">
        <div class="row">
          <div class="column-1">
            <h1>No Frills is a band from toronto.</h1>
            <div class="secondary-content">
              <ul class="link-list">
                <li><a href="https://www.instagram.com/nofrillsmusic/">Instagram</a></li>
                <li><a href="https://www.facebook.com/nofrillstheband/">Facebook</a></li>
                <li><a href="https://nofrillsmusic.bandcamp.com/">Bandcamp</a></li>
                <li><a href="mailto:nofrillstoronto@gmail.com">Email</a></li>
              </ul>
            </div>
          </div>
          <div class="column-2">
            <div class="iframe-wrapper">
              <iframe style="border: 0; width: 240px; height: 240px;" src="https://bandcamp.com/EmbeddedPlayer/album=1548178667/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="http://nofrillsmusic.bandcamp.com/album/nice-to-meet-you">Nice To Meet You by No Frills</a></iframe>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    
    
  </div>

  
</body>

</html>