<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo title=false %}
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/main.css">
  <link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml"
    title="No Frills – a toronto band that makes: music" />
  {% include analytics.html %}
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="container">
    <div class="content">
      <div class="row row--reverse">
        <div class="column-1 col-sm-6">
          <div class="content-table">
            <div class="content-table__cell">
              <h1>No Frills is a band from toronto.</h1>
              <p>Debut LP <span class="font-style-italic">Downard Dog<span> coming Spring 2022</p>
            </div>
            <div class="secondary-content">
              <div class="content-table__cell">
                <div class="content-table__cell-label">
                  <h2>Say Hello</h2>
                </div>
                <ul class="link-list">
                  <li><a href="https://www.instagram.com/nofrillsmusic/" target="_blank">Instagram</a></li>
                  <li><a href="https://www.facebook.com/nofrillstheband/" target="_blank">Facebook</a></li>
                  <li><a href="https://twitter.com/nofrillsband" target="_blank">Twitter</a></li>
                  <li><a href="mailto:nofrillstoronto@gmail.com" target="_blank">Email</a></li>
                </ul>
              </div>
              <div class="content-table__cell border--none">
                <div class="content-table__cell-label">
                  <h2>Listen</h2>
                </div>
                <ul class="link-list">
                  <li><a href="https://nofrillsmusic.bandcamp.com/" target="_blank">Bandcamp</a></li>
                  <li><a href="https://open.spotify.com/artist/0HMaxwjEtWlFz9g5gtNL4S?si=UrKO_fXMQTChS_8vBWDAPg"
                      target="_blank">Spotify</a></li>
                  <li><a
                      href="https://geo.itunes.apple.com/ca/album/nice-to-meet-you-ep/1454015359?uo=4&app=music&ls=1&at=1000lHKX"
                      target="_blank">Apple Music</a></li>
                  <li><a href="https://www.youtube.com/watch?v=W-z-Mq37g4Y&list=PLAVfiM5_UucS34qexOyzYLhgFWtVb1-wN"
                      target="_blank">YouTube</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column-2 col-sm-6">
          <div class="iframe-wrapper">
            <iframe style="border: 0; width: 240px; height: 240px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=1548178667/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/"
              seamless><a href="https://nofrillsmusic.bandcamp.com/album/nice-to-meet-you">Nice To Meet You by No
                Frills</a></iframe>
          </div>
        </div>
      </div>
      <div class="content-row">
        <div class="video-wrapper">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/HOYsIFMA10I" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="content-row">
        <h2>Shows</h2>
        <a href="https://www.songkick.com/artists/9892614" class="songkick-widget" data-theme="light"
          data-detect-style="true" data-background-color="transparent"> </a>
        <script src="//widget.songkick.com/9892614/widget.js"></script>
      </div>
    </div>
  </div>
  </div>




</body>

</html>
