<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo title=false %}
  <title>{{ site.title }} | Links</title>
  <link rel="stylesheet" href="/assets/main.css">
  <link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml"
    title="No Frills – a toronto band that makes: music" />
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="container">
    <p><a href="{{ site.url }}">Take me to NOFRILLS.LIFE</a></p>
    <div class="white-bordered-box border-bottom--none">
      <div class="content-table__cell">
        <h2>Music Videos</h2>
        <p><a href="https://www.youtube.com/watch?v=6cSRiDVHZwc" target="_blank">"Ice Cream Cone"</a></p>
        <p><a href="https://www.youtube.com/watch?v=GYS0HtJYTcA" target="_blank">"Real Thing"</a></p>
      </div>
      <div class="content-table__cell">
        <h2>Music</h2>
        <p>"Ice Cream Cone" single: <br/> <a href="https://open.spotify.com/album/72NBU8FN6tbf2uyATn60H2?si=oVjNYEkTSceO2ro79dnziA&dl_branch=1" target="_blank">Spotify</a> - <a href="https://nofrillsmusic.bandcamp.com/track/ice-cream-cone" target="_blank">Bandcamp</a></p>
        <p><span class="font-style-italic">Nice to Meet You</span> EP: <br/><a href="https://open.spotify.com/album/3eJ7raLnbXgfhcw2VAomzY?si=wevjpBepS8OiCUCNFdRl_w&dl_branch=1 target="_blank">Spotify</a> - <a href="https://nofrillsmusic.bandcamp.com/album/nice-to-meet-you" target="_blank">Bandcamp</a></p>
      </div>
      <div class="content-table__cell">
        <h2>Spotify playlists</h2>
        <p><a href="https://open.spotify.com/playlist/74Tdmb2wPtSjxEYnzHDUck?si=e1289e96cca64f50" target="_blank">Summer 2021 🌞💉💉</a></p>
        <p><a href="https://open.spotify.com/playlist/3avtjAPGyFVPT7zqms3flJ?si=e1eb87e619324539" target="_blank">Forever And Ever 💘 Love songs and such</a></p>
      </div>
    </div>
  </div>


</body>

</html>